doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Logowanie
  body
  h1 Logowanie:
  
  p
    form(action='http://localhost:9000/logon', method='GET')
      p
        | Twoja nazwa: 
        input(type='text', name='name')

      input(type='submit', value='Submit')
