doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Logowanie
        title Twoja strona
    body
        if(name)
            h1 #{name}, udało Ci się zalogować.
            include ./data.pug
            include ./footer.pug
        else
            a(href="/") Logowanie nieudane, spróbuj jeszcze raz!